In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

#### the number of rows and columns

In [12]:
# 1. info method givs us the number of rows and columns as well as all of the data types of columns
df.info()

# 2. shape gives us the number of rows and columns in a tuple form
df.shape # not df.shape()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
Respondent                88883 non-null int64
MainBranch                88331 non-null object
Hobbyist                  88883 non-null object
OpenSourcer               88883 non-null object
OpenSource                86842 non-null object
Employment                87181 non-null object
Country                   88751 non-null object
Student                   87014 non-null object
EdLevel                   86390 non-null object
UndergradMajor            75614 non-null object
EduOther                  84260 non-null object
OrgSize                   71791 non-null object
DevType                   81335 non-null object
YearsCode                 87938 non-null object
Age1stCode                87634 non-null object
YearsCodePro              74331 non-null object
CareerSat                 72847 non-null object
JobSat                    70988 non-null object
MgrIdiot                  61159 non-null object
MgrMoney                  61157 non-null object
MgrWant                   61232 non-null object
JobSeek                   80555 non-null object
LastHireDate              79854 non-null object
LastInt                   67155 non-null object
FizzBuzz                  71344 non-null object
JobFactors                79371 non-null object
ResumeUpdate              77877 non-null object
CurrencySymbol            71392 non-null object
CurrencyDesc              71392 non-null object
CompTotal                 55945 non-null float64
CompFreq                  63268 non-null object
ConvertedComp             55823 non-null float64
WorkWeekHrs               64503 non-null float64
WorkPlan                  68914 non-null object
WorkChallenge             68141 non-null object
WorkRemote                70284 non-null object
WorkLoc                   70055 non-null object
ImpSyn                    71779 non-null object
CodeRev                   70390 non-null object
CodeRevHrs                49790 non-null float64
UnitTests                 62668 non-null object
PurchaseHow               61108 non-null object
PurchaseWhat              62029 non-null object
LanguageWorkedWith        87569 non-null object
LanguageDesireNextYear    84088 non-null object
DatabaseWorkedWith        76026 non-null object
DatabaseDesireNextYear    69147 non-null object
PlatformWorkedWith        80714 non-null object
PlatformDesireNextYear    77443 non-null object
WebFrameWorkedWith        65022 non-null object
WebFrameDesireNextYear    62944 non-null object
MiscTechWorkedWith        59586 non-null object
MiscTechDesireNextYear    64511 non-null object
DevEnviron                87317 non-null object
OpSys                     87851 non-null object
Containers                85366 non-null object
BlockchainOrg             48175 non-null object
BlockchainIs              60165 non-null object
BetterLife                86269 non-null object
ITperson                  87141 non-null object
OffOn                     86663 non-null object
SocialMedia               84437 non-null object
Extraversion              87305 non-null object
ScreenName                80486 non-null object
SOVisit1st                83877 non-null object
SOVisitFreq               88263 non-null object
SOVisitTo                 88086 non-null object
SOFindAnswer              87816 non-null object
SOTimeSaved               86344 non-null object
SOHowMuchTime             68378 non-null object
SOAccount                 87828 non-null object
SOPartFreq                74692 non-null object
SOJobs                    88066 non-null object
EntTeams                  87841 non-null object
SOComm                    88131 non-null object
WelcomeChange             85855 non-null object
SONewContent              69560 non-null object
Age                       79210 non-null float64
Gender                    85406 non-null object
Trans                     83607 non-null object
Sexuality                 76147 non-null object
Ethnicity                 76668 non-null object
Dependents                83059 non-null object
SurveyLength              86984 non-null object
SurveyEase                87081 non-null object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

(88883, 85)

#### if it is a method, you should put () in the end, if it is an attribute, you shouldn't

#### show all columns or all rows

In [11]:
pd.set_option('display.max_columns',85) # all columns will be showed without cutting out
pd.set_option('display.max_rows',85) # all rows will be showed without cutting out

In [59]:
# Dictionary
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

# if you look up values of a key, the type will be LIST.
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [60]:
# DataFrame
df = pd.DataFrame(people)

# if you look up rows of a column, the type will be Series.
df['email']
# it can be written like df.email,but the brackets are preferred.
# because sometimes there maybe some column names being as same as methods name, such as COUNT.
type(df['email'])

pandas.core.series.Series

#### Series is rows of a single column; DataFrame is a container for multiple series

#### select multiple columns

In [22]:
df[['last','email']]
# you can't leave off the inner brackets, because you will get a key error.
# pandas will think that you're passing in boths strings as a single column name
# the type is DataFrame not series.

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

#### select the list of columns name

In [25]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

# Index

#### select multiple rows by index

In [38]:
# iloc method is only for integers. don't put the column names
df.iloc[[0,1]]  # rows with all columns. the 0,1 are the position/index of rows
df.iloc[[0,1],[1,2]] # rows with selected columns, the 1,2 are the position/index of columns

# use loc, if you want to put the column names. it can change the order of columns
df.loc[[0,1],['email','last']]
df.loc[0:2,'last': 'email']

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

#### set one column as index
so we can use the column as label to select rows

In [39]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [40]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [41]:
# the index of df wasn't changes. it is because pandas doesnt do a lot of these changes
# in place unless we specifically tell it to do so. it is very nice because it allwos us to experiment without worrying about modifying 
# our datat frame in unexpected ways

In [62]:
df.set_index('email',inplace=True)
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [47]:
df.loc['CoreyMSchafer@gmail.com','last']

'Schafer'

In [49]:
df.loc[0] # the index is no longer integer. so it will return error

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [50]:
df.iloc[0] # iloc is Purely integer-location based indexing for selection by position.

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

#### sort index

In [65]:
df.sort_index(ascending=False,inplace=True)

In [66]:
df

                         first     last
email
JohnDoe@email.com         John      Doe
JaneDoe@email.com         Jane      Doe
CoreyMSchafer@gmail.com  Corey  Schafer

#### reset index

In [56]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

#### set one column as index when importing data

In [58]:
df = pd.read_csv('survey_results_public.csv',index_col='Respondent')
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

# Filtering

In [20]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [3]:
filt = (df['last'] == 'Doe')
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [4]:
df.loc[filt, 'email'] # =df[filt]['email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

#### multiple conditions

In [5]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John') # & = and , | = or
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [10]:
# meets multiple values in the list
firstnames = ['Corey','John']
filt = df['first'].isin(firstnames)
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [11]:
# find the text field contains certain substring
filt = df['email'].str.contains('Corey', na=False)
df.loc[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

#### not meet the conditions

In [6]:
df[~filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

# Updating

#### update column names

In [12]:
# change all column names
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.columns = ['first_name', 'last_name', 'email_address']
df

  first_name last_name            email_address
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [15]:
# change all column names by using list comprehension
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME            EMAIL_ADDRESS
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [16]:
# change all column names by using Replace method
df.columns = df.columns.str.replace('_',' ')
df

  FIRST NAME LAST NAME            EMAIL ADDRESS
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [17]:
# change some column names 
df.rename(columns={'FIRST NAME' : 'first','LAST NAME' : 'last'}, inplace=True) # don't forget to use INPLACE to modify the df

In [18]:
df

   first     last            EMAIL ADDRESS
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

#### update values of a single row

In [21]:
# update a row
df.loc[2] = ['John','Smith','JohnSmith@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [22]:
# update values of some columns in a row
df.loc[2,['last','email']]=['Doe','JohnDoe@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [23]:
# update the value of one column in a row
# 1.loc
df.loc[2,'last']='Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [24]:
#2.at
df.at[2,'last'] = 'Doe'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [25]:
# warning: don't use the following method, which wouldn't update the value, just use the two methods above
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'

C:\Users\menghezhang\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

#### update values of multiple rows

##### apply

In [33]:
# running apply on a series applies a function to every value in the series
# running apply to a data frame applies a function to every series in the data frame

In [31]:
# series

In [28]:
#1. apply build in functions
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [29]:
#2. apply functions you create
def update_email(email):
    return email.upper()

df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [30]:
# 3. apply lambda functions
df['email'].apply(lambda x: x.lower())

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [34]:
# Dataframe

In [35]:
df.apply(len) # return the len of each column/series

first    3
last     3
email    3
dtype: int64

In [36]:
df.apply(min)

first                      Corey
last                         Doe
email    CoreyMSchafer@gmail.com
dtype: object

##### applymap

In [37]:
# running applymap on a dataframe applies a function to every individual element in the dataframe
# it only works on a dataframe. series don't have the function

In [39]:
df.applymap(len) # return the length of each individual item in the dataframe

   first  last  email
0      5     7     23
1      4     3     17
2      4     3     17

In [40]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john      doe        johndoe@email.com

##### map

In [41]:
# the map method only works on a series 
# so map is used for substituting each value in a series with another value

In [42]:
df['first'].map({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

##### replace

In [45]:
#if we want to keep the original values of items which are not replaced with other values, we use replace

In [44]:
df['first'].replace({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2     John
Name: first, dtype: object